<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="/favicon.ico">
    <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
    <script src="https://neynarxyz.github.io/siwn/raw/1.2.0/index.js" async></script>
    <title>Rolodex App</title>
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  <body class="antialiased bg-base-100">
    <script type="module">
      import { account, farcasterClient, farcasterSignup, getContactByUID } from '/odd.js';

      window.onSignInSuccess = function(data) {
         console.log(data);
      }
      

      window.showLoading = function(){
        document.querySelector(".loading").classList.remove("hidden");
        document.querySelector("#input-forms").classList.add("hidden");
      }

     window.startFarcasterSignup = async function(){
      const agentDID = await account.agent.DID()
      const channel = await farcasterClient.createChannel({
        siweUri: window.location.origin,
        domain: window.location.host,
        requestId: agentDID
      });

      const url = channel.data.url
      var qrcode = new QRCode({content: url, container: "svg-viewbox", join: true});
      document.querySelector("#signup_by_farcaster > .modal-box > .modal-action > .qr").innerHTML = qrcode.svg();

      signup_by_farcaster.showModal()

      farcasterClient.watchStatus({
        channelToken: channel.data.channelToken,
      }).then((status) => {
        console.log(status)
        signup_by_farcaster.close()
        window.showLoading()
        farcasterClient.verifySignInMessage({
         nonce: status.data.nonce,
         domain: window.location.host,
         message: status.data.message,
         signature: status.data.signature
        }).then(async (response) => {
         console.log(response)
         if (response.success) {
           console.log(`did:pkh:eip155:${response.data.chainId}:${response.data.address}`, status.data.username, agentDID, status.data.message, status.data.signature)
           let accountDID = `did:pkh:eip155:${response.data.chainId}:${response.data.address}`
           let profileData = { handle: status.data.username, name: status.data.displayName, text: status.data.bio, tags: [], pfpUrl: status.data.pfpUrl}
           console.log("farcaster message", status.data.message);
           await farcasterSignup(accountDID, status.data.message, status.data.signature, profileData, status.data.fid)
           window.location.href = `/auto_follow_landing`
         }
        })
      })

       window.farcasterClient = farcasterClient
       window.channel = channel
     }
    </script>

    <div class="container mx-auto px-4 h-screen flex flex-col justify-evenly items-center">
      <div class="p-4 text-center">
        <div class="text-4xl font-semibold tracking-tight leading-normal">Follow people from your Rolodex</div>
      </div>
      
      <div class="loading loading-infinity loading-lg hidden"></div>
      
      <div
        class="neynar_signin"
        data-client_id="e468cfeb-fb3b-41b2-b1c4-c778d78f1e73"
        data-variant="farcaster"
      data-success-callback="onSignInSuccess"
      data-theme="dark"> <!-- defaults to light, unless specified -->
    </div>
		
      
      <dialog id="signup_by_farcaster" class="modal">
        <div class="modal-box">
          <div class="text-center font-lg">Sign in with Farcaster</div>
          <div class="text-center text-sm">Scan with your phone's camera to </br>continue.</div>
          <div class="modal-action flex flex-col justify-center items-center space-y-2">
            <div class="qr w-64 h-64"></div>
          </div>
        </div>
      </dialog>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>
