<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="/favicon.ico">
    <script src="https://cdn.jsdelivr.net/gh/papnkukn/qrcode-svg/dist/qrcode.min.js"></script>
    <title>Rolodex App</title>
    <style>
     
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 2rem;
        max-width: 100%;
      }
      #welcomeMessage {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      #communityCountMessage {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      #communityList {
        width: 100%;
        max-width: 400px;
      }
      .community-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #1e293b;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    
      .community-info {
        display: flex;
        align-items: center;
      }
      .community-image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
        
      }
      .community-name {
        font-size: 1.25rem;
        font-weight: 600;
      }
    </style>
  </head>

  <%- include('../partials/google_analytics.ejs') %>

  

    <script type="module">
    import { account, portOldContacts, addContact, getContacts, getContactByUID, editContact, deleteContact, filterContacts,
        getProfile, updateProfile, signout, importContacts, appleCredsPresent, importGoogleContacts, downloadContactsDataLocally, getMembers,getCommunityMembers, uint8arrays, getFidFromAccountDID} from '/odd.js';
      window.addContact = addContact;
      window.getContacts = getContacts;
      window.editContact = editContact;
      window.deleteContact = deleteContact;
      window.filterContacts = filterContacts;
      window.updateProfile = updateProfile;
      window.signout = signout;
      window.importContacts = importContacts;
      window.importGoogleContacts = importGoogleContacts;
      window.downloadContactsDataLocally = downloadContactsDataLocally;
      window.getProfile = getProfile;
      window.getContactByUID = getContactByUID;
      window.appleCredsPresent = appleCredsPresent;
      window.getMembers = getMembers;
      window.uint8arrays = uint8arrays;
      var farcasterHandle;
      let communityMap = new Map();
      let communityCount = 0;

     

      window.followRandom = function() {
        console.log('Following 3 random people');
        // Implement the logic to follow 3 random people
      }

      window.followAll = function() {
        console.log('Following all people');
        // Implement the logic to follow all people
      }

     

      window.updateCommunityCount = function() {
        const countMessage = document.getElementById('communityCountMessage');
        countMessage.textContent = `You are part of ${communityCount} ${communityCount === 1 ? 'community' : 'communities'}`;
      }

      window.getListOfFidFromCommunityContact = async function(communityContact){
         console.log(communityContact);
         var communityDID = communityContact.UID;
         let community = await getContactByUID(communityDID);
         await getCommunityMembers(community);
        if (community.cache) {
          let fidArray = [];
          for (let member of community.cache.people) {
              let uid = member.UID;
              let fid = await getFidFromAccountDID(uid.slice(4)); //remove DCN 
              fidArray.push([fid.split('@')[0], null]); // get '123' from '123@farcaster'
          }
          console.log("fidArray", fidArray);
          console.log("community name",communityContact.FN );
          communityMap.set(communityContact.FN, fidArray);
        }
      }
     
      window.refreshContacts = async function(){
        const communityList = document.getElementById('communityList');
        communityList.innerHTML = ''; // Clear existing content

        window.getContacts().then((result) => {
          result.contactList.push(result.contactList[0])
          result.contactList.forEach((contact) => {
            if (contact.CATEGORIES === "community") {
              communityCount++;
              const communityName = contact.FN;
              const communityContainer = document.createElement('div');
              communityContainer.className = 'community-item';
             

              const communityInfo = document.createElement('div');
              communityInfo.className = 'community-info';

              const communityImage = document.createElement('img');
              communityImage.src = contact.PHOTO || 'https://via.placeholder.com/50';
              communityImage.alt = communityName;
              communityImage.className = 'community-image';

              const communityElement = document.createElement('span');
              communityElement.textContent = communityName;
              communityElement.className = 'community-name';

              communityInfo.appendChild(communityImage);
              communityInfo.appendChild(communityElement);
              communityContainer.appendChild(communityInfo);
              communityList.appendChild(communityContainer);

              communityContainer.addEventListener('click', () => {
          const modal = document.getElementById('community_modal');
          // const modalImage = document.getElementById('modalImage');
          const modalCommunityName = document.getElementById('modalCommunityName');

          // modalImage.src = contact.PHOTO || 'https://via.placeholder.com/50';
          modalCommunityName.textContent = contact.FN;
          modal.showModal();
        });

              getListOfFidFromCommunityContact(contact);
            }
          });

          updateCommunityCount();
        });
      }

      window.refreshProfile = function(){
        window.getProfile().then((result) => {
          console.log("profile is", result);
          const welcomeMessage = document.getElementById('welcomeMessage');
          welcomeMessage.textContent = `Welcome ${result.handle}`;
          welcomeMessage.style.display = 'block';
        });
      }

      

      await refreshContacts();
      refreshProfile();
    </script>
    <body class="antialiased">
      <div class="container">
        <div id="welcomeMessage" style="display: none;">Welcome</div>
        <div id="communityCountMessage"></div>
        <div id="communityList"></div>
      </div>
      <dialog id="community_modal" class="modal">
        <div class="modal-box flex flex-col items-center">
          <div class="flex w-full justify-end h-4">
            <button class="btn btn-sm btn-ghost"  onclick="event.preventDefault(); community_modal.close();">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708z"/></g></svg>
            </button>
            </div>
          <div class="flex text-center mb-4">
            <!-- //<img id="modalImage" src="" alt="Community Image" class="mx-auto mb-2"> -->
            <h2 id="modalCommunityName" class="text-xl font-bold"></h2>
          </div>
        <div class="modal-action mt-auto flex justify-between w-full">
            <button onclick="followRandom()" class="btn btn-outline btn-sm">Follow any 3 people</button>
            <button onclick="followAll()" class="btn btn-outline btn-sm">Follow All</button>
          </div>
        </div>
      </dialog>
        <%- include('../partials/shovel.ejs') %>
      </div>
  </body>
</html>